*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    overflow:hidden;
}
body{
    background-color: #00272B;
}
#curr_sco{
    display: inline-block;
}

#main{
    height: 70vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#box{
    padding:0;
    height:300px;
    width:300px;
}

.sq{
    font-size:90px;
    text-align: center;
    height: 90px;
    width: 90px;
    background-color: #DEE5E5;
    /* background-color: #F4F4ED; */
    border: 2px solid #00272B;
    display: inline-block;
    padding:0px;
    margin:0px;
}

#curr_sco>span{
    color: #F4F4ED;
    margin: 5px;
}

button{
    font-size: large;
    background-color: #21897E;
    color:#ECFEAA;
    /* background-color: #1EFC1E; */
    display: inline-block;
    height:80px;
    width:160px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px grey;
}

#btn{
    display:flex;
    justify-content: space-evenly;
}
.sq:hover{
    height: 90px;
    width: 90px;
    background-color: #ECFEAA;
    border: 0.5px solid #FDF0D5; 
}
th, td{
    border-top:2px solid #F4F4ED; 
    border-right:2px solid #F4F4ED; 
}
table{
    position:absolute;
    color: #D90368;
    margin:50px;
}
.gmor{
    visibility:hidden;
    height:20vh;
    width:40vw;
    position:absolute;
    left: 30vw;
    top: 40vh;
    background-color:rgb(42, 138, 165);
}
.change{
    background-color: #F4F4ED;
    color: #00272B;
}